mixin roomCard(img,starmod1,starmod2,starmod3,starmod4,starmod5,link,number,lux,price,review)
    .room-card
        .room-card-slider
            .room-card-slider__navigation.room-card-slider__navigation--prev
                +icon('arrow-to-left','room-card-slider__navigation-icon')
            .room-card-slider__navigation.room-card-slider__navigation--next
                +icon('arrow-to-right','room-card-slider__navigation-icon')
            .room-card-slider__dots
            .js-room-card-slider
                .room-card__img(style=`background-image: url(static/images/content/room-card/${img}.jpg)`)
                .room-card__img(style=`background-image: url(static/images/content/room-card/${img}.jpg)`)
                .room-card__img(style=`background-image: url(static/images/content/room-card/${img}.jpg)`)
                .room-card__img(style=`background-image: url(static/images/content/room-card/${img}.jpg)`)
        .room-card__info.room-card-info
            .room-card-info__row
                .room-card-info__col
                    .room-card-info__item
                        a(href=link).room-card-info__number=number
                        .room-card-info__text.title-label=lux
                .room-card-info__col
                    b.room-card-info__text.text-medium=price
                    span.room-card-info__text.text-medium в сутки
            .room-card-info__line
            .room-card-info__row
                .room-card-info__col
                    .room-card-info__stars
                        img(src=`static/images/content/star${starmod1}.png`, alt="").room-card-info__icon
                        img(src=`static/images/content/star${starmod2}.png`, alt="").room-card-info__icon
                        img(src=`static/images/content/star${starmod3}.png`, alt="").room-card-info__icon
                        img(src=`static/images/content/star${starmod4}.png`, alt="").room-card-info__icon
                        img(src=`static/images/content/star${starmod5}.png`, alt="").room-card-info__icon
                .room-card-info__col
                    b.room-card-info__text.text-medium=review
                    span.room-card-info__text.text-medium Отзывов